@use 'common' as *;

.header {
  min-height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  z-index: 1000;
  position: relative;

  a {
    padding-bottom: unset;
    cursor: pointer !important;

    i {
      color: $primary;
    }
  }
}

.logoLink {
  cursor: pointer !important;

  &:hover {
    opacity: .8;
  }
}

.logo {
  cursor: pointer !important;
  height: 100%;
  width: 100%;
  max-height: 30px;

  svg {
    height: inherit;
    width: inherit;
    max-height: inherit;

    path {
      fill: white;

      @include TransitionQuick;
    }

    &:hover {
      path {
        fill: $lightOrange;
      }
    }
  }
}

.menu {
  max-width: 400px;

  color: white;

  a {
    text-decoration: none;
    color: white;
  }

  @include Phone {
    min-height: calc(100dvh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: unset;
    width: 100vw;

    // :global(.card) {
    //   border-radius: 0 !important;
    // }

    // :global(.card-header) {
    //   border-radius: 0 !important;
    // }
  }

  &Button {
    @include TransitionQuick;
    background-color: transparent;
    padding: 0px;
    aspect-ratio: 1;
    min-width: 50px;
    height: 50px;
    border: none;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: white;


    &:hover {
      color: $lightOrange;
    }
  }
}

.brand {
  &Icon {
    width: 100%;
  }

  &Url {
    font-weight: revert;
    font-size: 12px;
    color: $orange !important;

    &:hover {
      color: $black !important;
    }
  }
}