@use 'common' as *;


.bg-primary {
  .formField:hover {
    .formField-label {
      color: $secondary;

      span {
        color: $secondary;
      }
    }
  }
}

.bg-secondary,
.bg-light {
  .formField:hover {
    .formField-label {
      color: $primary;

      span {
        color: $primary;
      }
    }
  }
}

.formField {
  box-sizing: border-box;
  flex: 1 0 0%;
  padding: 1px;
  position: relative;
  width: 100%;

  &-hint {
    color: $primary;
    font-size: 12px;
    margin-bottom: 0px;
  }

  &:hover {
    .formField-label {
      color: $orange;

      span {
        color: $orange;

        i {
          color: white;
        }
      }
    }
  }

  &-label {
    color: $black;

    span {
      color: $black;
      font-size: 14px;
    }

    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 .75em;
    @include TransitionQuick;
    @include TruncateText;
  }

  &_bottomSpacing {
    margin: 0 0 20px;
  }

  &_withCheckbox {
    align-items: center;
    display: flex;
    flex: unset;
    flex-wrap: wrap;
    min-width: 40px;
    width: max-content;

    .formField-label {
      @include font-size-small;
      display: flex;
      flex-direction: column;

      span {
        font-size: 12px;
        font-weight: normal;
        color: $primary;
      }

      color: $primary;
      cursor: pointer;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 1px;
      margin-left: 6px;
      transition: all 0.15s;
    }
  }
}