@use 'common' as *;

.react-select {
  color: $black;
  flex: 1 0 0;
  width: 100%;

  .select {
    &__control {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      // color: var(--bs-body-color);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      // background-color: var(--bs-body-bg);
      background-clip: padding-box;
      border: var(--bs-border-width) solid $lightOrange;
      border-radius: var(--bs-border-radius);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:hover,
      &:active,
      &:focus {
        border-color: $orange;
      }
    }

    &__menu {
      z-index: 1000;

      &-list {
        overflow-x: hidden;
      }
    }

    &__option {
      &:focus {
        background-color: $lightOrange;

      }

      &--is-focused {
        background-color: $lightOrange;
      }
    }


    &__multi-value {
      background-color: $primary;


    }


  }


}