@use 'common' as *;



.header {
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  h3 {
    text-align: end;

    @include Phone {
      text-align: center;
      margin-bottom: 16px;
    }

  }

  width: 100%;
  height: 100%;
  flex-direction: row;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    svg {
      path {
        fill: $lightOrange;
      }
    }

    color: $lightOrange;
  }

  .icon {
    width: 150px;

    &Full {

      svg {
        width: 150px;
      }

      margin-top: .5em;
    }
  }
}

.brands {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  height: 100%;
  column-gap: 16px;

  @include TabletDown {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }

  &Wrap {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.brandTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;

  @include TabletDown {
    width: 100%;
  }

  box-sizing: border-box;

  &Header {
    width: inherit;
  }

  &Logo {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;

    @include TabletDown {
      height: 12px;
    }

    svg {
      height: inherit;

    }

  }

  &Icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    @include Desktop {
      svg {
        width: 100px;
      }
    }


  }


  &:hover {
    // width: 110px;

    // img {
    //   width: 110px;
    // }



    svg {


      path {
        fill: $lightOrange;
      }
    }

    color: $lightOrange;
  }
}

.brandWrap {
  justify-content: center;

  @include Desktop {
    justify-content: space-between;
  }
}