@mixin font-size-small {
  font-size: 14px;
}

@mixin font-size-tiny {
  font-size: 12px;
}

@mixin font-digital {
  font-family: 'VT323', monospace;
}

@mixin font-loud {
  font-family: 'Instrument Serif', serif;
}

@mixin font-regular {
  font-family: 'Noto Sans', sans-serif;
}